.page-content,
.sidebar-container,
.user-khng-c-bt-k-quyn-g {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar-container {
  align-self: stretch;
  height: 1000px;
  flex-direction: row;
  padding: 0 var(--padding-8xl) 591px 0;
  box-sizing: border-box;
  gap: var(--gap-smi);
  max-width: 100%;
}
.page-content,
.user-khng-c-bt-k-quyn-g {
  flex-direction: column;
}
.page-content {
  align-self: stretch;
  gap: var(--gap-xl);
  flex-shrink: 0;
  max-width: 100%;
}
.user-khng-c-bt-k-quyn-g {
  width: 100%;
  height: 1080px;
  position: relative;
  background-color: #fafafa;
  overflow: hidden;
  gap: 332px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .sidebar-container {
    padding-left: var(--padding-8xl);
    padding-bottom: 384px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .sidebar-container {
    padding-bottom: 250px;
    box-sizing: border-box;
  }
  .user-khng-c-bt-k-quyn-g {
    gap: 166px;
  }
}
@media screen and (max-width: 750px) {
  .user-khng-c-bt-k-quyn-g {
    height: auto;
    gap: 83px;
  }
}
@media screen and (max-width: 450px) {
  .sidebar-container {
    padding-bottom: 162px;
    box-sizing: border-box;
  }
}
