.no-permission-parent {
  align-self: stretch;
  height: 234px;
  position: relative;
  max-width: 100%;
  font-size: var(--semibold-24px-32-size);
  color: var(--gray-gray-1);
  font-family: var(--body-bold-small);
}
.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: calc(100% - 293px);
  text-align: left;
  font-size: var(--regular-14px-22-size);
  color: var(--blue-sky-sky-6);
  font-family: var(--regular-14px-22);
}
@media screen and (max-width: 1200px) {
  .dashboard {
    max-width: 100%;
  }
}
