.breadcrumb-icon,
.layer-1-icon {
  height: 60px;
  width: 60px;
  position: relative;
}
.layer-1-icon {
  height: 32px;
  width: 180px;
}
.breadcrumb-icon-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.page-title-container {
  height: 38px;
  flex: 1;
  font-family: var(--regular-14px-22);
  font-size: var(--regular-14px-22-size);
  color: var(--gray-gray-1);
}
.frame-child {
  height: 38px;
  width: 226px;
  border-radius: var(--br-9xs);
  background-color: var(--color-gray-200);
  display: none;
}
.breadcrumbs-container,
.page-title-container-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.page-title-container-parent {
  flex: 1;
  align-items: flex-start;
  gap: var(--gap-smi);
  min-width: 170px;
}
.breadcrumbs-container {
  width: 553.7px;
  align-items: center;
  gap: var(--gap-14xl);
  max-width: 100%;
}
.parent {
  height: 60px;
  width: 86px;
  font-family: var(--regular-14px-22);
  font-size: var(--font-size-smi);
  color: var(--gray-gray-1);
}
.header {
  align-self: stretch;
  background-color: var(--blue-sky-sky-6);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-mini) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
}
@media screen and (max-width: 750px) {
  .breadcrumbs-container {
    gap: var(--gap-base);
  }
  .header {
    flex-wrap: wrap;
    padding-left: var(--padding-mini);
    padding-top: var(--padding-mini);
    padding-bottom: var(--padding-mini);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .breadcrumbs-container {
    flex-wrap: wrap;
  }
}
