@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-bold-small: Roboto;
  --regular-14px-22: "Open Sans";

  /* font sizes */
  --regular-14px-22-size: 14px;
  --font-size-smi: 13px;
  --semibold-24px-32-size: 24px;
  --font-size-lgi: 19px;
  --body-bold-small-size: 12px;
  --regular-16px-24-size: 16px;

  /* Colors */
  --gray-gray-7: #8c8c8c;
  --gray-gray-10: #262626;
  --color-gray-100: #151a3b;
  --color-gray-200: rgba(255, 255, 255, 0.15);
  --on-surface-dark-high-emphasis: rgba(24, 24, 25, 0.9);
  --on-surface-light-low-emphasis: rgba(255, 255, 255, 0.42);
  --gray-gray-1: #fff;
  --color-royalblue-100: #2678f2;
  --blue-sky-sky-6: #0052cc;
  --color-royalblue-200: rgba(38, 120, 242, 0.09);
  --gray-gray-5: #d9d9d9;
  --gray-gray-8: #595959;
  --alert-info: #2372d9;
  --gray-gray-3: #f5f5f5;

  /* Gaps */
  --gap-xl: 20px;
  --gap-smi: 13px;
  --gap-4xl: 23px;
  --gap-40xl: 59px;
  --gap-10xl: 29px;
  --gap-11xl: 30px;
  --gap-4xs: 9px;
  --gap-12xs: 1px;
  --gap-1020xl: 1039px;
  --gap-500xl: 519px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-14xl: 33px;
  --gap-9xs: 4px;
  --gap-lgi: 19px;
  --gap-10xs: 3px;

  /* Paddings */
  --padding-8xl: 27px;
  --padding-23xl-5: 42.5px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-sm: 14px;
  --padding-5xs: 8px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-7xs: 6px;
  --padding-mini: 15px;
  --padding-10xl: 29px;
  --padding-12xs: 1px;
  --padding-8xs: 5px;
  --padding-11xs: 2px;
  --padding-2xs: 11px;
  --padding-6xs: 7px;
  --padding-xs: 12px;
  --padding-10xs: 3px;
  --padding-4xs: 9px;
  --padding-xl-9: 20.9px;

  /* Border radiuses */
  --br-9xs: 4px;
  --br-3xs: 10px;
  --br-181xl: 200px;
  --br-8xs: 5px;

  /* Effects */
  --effects-shadow-default: 0px 4px 8px rgba(38, 38, 38, 0.08);
  --effects-shadow-button-primary: 0px 4px 8px rgba(0, 82, 204, 0.15);
}
